@charset "utf-8";

body {font: 14px/1.71 Tahoma, sans-serif; background: #fff url(../images/bg.png) repeat-y 50% 50%; color: #3a3a3a;}
html, body {margin: 0px; padding: 0px; height: 100%; width: 100%; min-width: 992px;}
*:focus, * {outline: none;}
table, td, th, tr {padding: 0px; border-collapse: collapse;}
ul, ol, li, form, fieldset, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, del, blockquote, dfn, kbd, address {margin: 0px; padding: 0px; text-decoration: none; font-style: normal; border: none;}
ul li {list-style: none;}
input {margin: 0px;}
a {color: #348c0c; text-decoration: underline; border-bottom: 0px dashed #348c0c;}
a:hover {color: #1a779a; border-bottom-color: #1a779a;}
a *, input[type="button"], input[type="submit"], button, button * {cursor: pointer; -webkit-appearance: none;}
a img {border: none;}

/* forms */

input, textarea {font-family: Tahoma, sans-serif;}

.input {display: inline-block; *display: inline; *zoom: 1; vertical-align: top; position: relative;}
.input input,
.input textarea {border: 0px; margin: 0px; display: block; width: 100%;}
.input textarea {height: 100%; resize: none;}

.button {display: inline-block; *display: inline; *zoom: 1; vertical-align: top; position: relative; text-align: center; text-decoration: none;}
.button input {display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: none; background: url(../images/b.png); cursor: pointer; z-index: 3;}


/* grid */

.wrap {width: 100%; min-width: 992px; min-height: 100%; overflow: hidden; *zoom: 1; position: relative; margin: auto;}

#page {margin: auto; width: 992px; min-height: 100%;}

.header {overflow: hidden; *zoom: 1; *zoom: 1;}
.header-logo {float: left; width: 425px; height: 141px; background: url(../images/sprite.png) 0px -160px;}
.header-logo a {display: block; height: 100%;}
.header-user {float: left; width: 189px; padding: 13px 0px 0px 48px;}
.header-user .button {width: 165px; height: 32px; margin: 1px 0px 0px 23px; background: url(../images/sprite.png) -750px -160px;}
.header-user .button i {display: inline-block; *display: inline; *zoom: 1; vertical-align: top; background-image: url(../images/sprite.png); margin-top: 7px;}
.header-user .button:hover {background-position: -750px -192px;}
.header-user .button:hover i {margin-top: 11px;}
.header-notlogged .input {width: 169px; height: 32px; background: url(../images/sprite.png) 0px -301px; position: relative; margin-bottom: 7px;}
.header-notlogged .input.password {margin-left: 10px;}
.header-notlogged .input input {position: relative; z-index: 2; background: url(../images/b.png); font-size: 17px; color: #5c5c5c; width: 80%; margin: 6px 0px 0px 16px;}
.header-notlogged .input span {display: block; position: absolute; top: 0; left: 0; z-index: 1; font-size: 17px; color: #5c5c5c; padding: 3px 17px;}
.header-notlogged .button i {width: 40px; height: 15px; background-position: -952px -187px;}
.header-logged {padding: 21px 0px 0px 5px;}
.header-logged .name {width: 169px; height: 32px; background: url(../images/sprite.png) 0px -301px; position: relative; margin-bottom: 6px; text-transform: uppercase; color: #000; font-size: 17px; line-height: 36px;}
.header-logged .name span {white-space: nowrap; position: relative; overflow: hidden; *zoom: 1; -ms-text-overflow: ellipsis; text-overflow: ellipsis; margin: 0px 16px; display: block;}
.header-logged .button {margin-left: 13px;}
.header-logged .button i {width: 52px; height: 15px; background-position: -940px -172px;}
.header-rightside {float: right; width: 325px; height: 141px; background: url(../images/sprite.png) -425px -160px;}
.header-lang {float: right; width: 47px; margin: 30px 22px 0px 0px; font-size: 11px; line-height: 14px;}
.header-lang i {display: inline-block; *display: inline; *zoom: 1; vertical-align: top; background-image: url(../images/sprite.png); width: 19px; height: 16px; margin-right: 5px;}
.header-lang i.ru {background-position: -169px -301px;}
.header-lang i.en {background-position: -169px -317px;}
.header-lang a {display: block; padding: 5px 0px 5px 5px; color: #fff; margin-bottom: 4px;}
.header-lang a:hover {text-decoration: none;}
.header-lang .active a {background-color: #1d1d1d; text-decoration: none; cursor: default;}
.header-contacts {float: right; text-align: right; width: 170px; color: #fff; margin: 26px 35px 0px 0px;}
.header-contacts p {font-size: 14px; line-height: 24px; padding-bottom: 2px;}
.header-contacts p span {font-size: 24px; line-height: 24px;}
.header-contacts a {color: #61bd12; display: inline-block; *display: inline; *zoom: 1; vertical-align: top; margin-top: 4px;}
.header-contacts a:hover {color: #348c0c;}

.navline {height: 82px; background: url(../images/sprite.png) 0px -78px;}
.navline > ul {height: 50px; padding: 15px 0px 0px 28px; float: left;}
.navline > ul > li {float: left; position: relative; z-index: 50;}
.navline > ul > li > a {font-weight: bold; font-size: 16px; line-height: 48px; text-decoration: none; height: 50px; display: inline-block; *display: inline; *zoom: 1; vertical-align: top; padding: 0px 9px;}
.navline > ul > li:hover > a,
.navline > ul > li.active > a,
.navline > ul > li > a:hover {background-color: #48920d;}
.navline > ul > li > ul {display: none; position: absolute; top: 100%; left: 50%; width: 207px; margin-left: -106px; background: #48920d url(../images/menu-shadow.png) repeat-x; padding: 7px 0px 14px;}
.navline > ul > li > ul a {font-size: 16px; line-height: 1.2em; display: block; padding: 6px 14px;}
.navline > ul > li > ul li.active a,
.navline > ul > li > ul a:hover {text-decoration: none; background-color: #61bd12;}
.navline > ul > li:hover > ul {display: block;}
.navline > ul a {color: #fff;}
.navline form {display: block; float: right; width: 221px; height: 35px; background: url(../images/sprite.png) -188px -301px; margin: 21px 23px 0px 0px; position: relative;}
.navline form .input input {position: relative; z-index: 2; background: url(../images/b.png); font-size: 17px; color: #5c5c5c; width: 67%; margin: 7px 0px 0px 27px;}
.navline form .input span {display: block; position: absolute; top: 0; left: 0; z-index: 1; font-size: 17px; color: #5c5c5c; padding: 4px 28px;}
.navline form .button {position: absolute; width: 19px; height: 19px; background: url(../images/sprite.png) -915px -160px; top: 12px; right: 19px; z-index: 3;}
.navline form .button:hover {background-position: -915px -179px;}

.main {overflow: hidden; *zoom: 1; padding-bottom: 78px;}
#content {overflow: hidden; *zoom: 1;}
.leftcol {float: left; width: 685px; padding: 27px 33px;}
.rightcol {float: right; width: 241px;}

.footer {overflow: hidden; *zoom: 1; height: 78px; background: url(../images/sprite.png) 0px 0px; color: #fff; width: 992px; margin: auto; font-size: 16px; line-height: 30px; margin-top: -78px; position: relative; z-index: 4;}
.footer a {color: #fff;}
.footer a:hover {text-decoration: none;}
.footer-left {float: left; padding: 8px 0px 0px 58px;}
.footer-right {float: right; text-align: right; padding: 10px 25px 0px 0px;}

/**/

img.left {float: left; display: block; margin-right: 16px;}
img.right {float: right; display: block; margin-left: 16px;}
table.left {float: left; margin-right: 16px;}
table.right {float: right; margin-left: 16px;}

h1 {font-size: 24px; line-height: 1.2em; color: #479a1a; font-weight: normal; margin-bottom: 25px;}
h1 span {display: block; width: 393px; height: 12px; background: url(../images/sprite.png) -409px -301px; margin-top: 20px; margin-bottom: 4px;}

.breadcrumps {color: #727272; font-size: 14px; line-height: 18px; padding: 13px 0px 33px 2px;}
.breadcrumps a {color: #727272; margin: 0px 5px;}
.breadcrumps a:first-child {margin-left: 0;}

.pager {overflow: hidden; *zoom: 1; font-size: 18px; line-height: 24px; margin-bottom: 26px;}
.pager li {float: left; padding-right: 3px;}
.pager a {display: block; height: 25px; color: #479a1a; text-decoration: none; padding: 0px 7px;}
.pager a:hover {text-decoration: underline;}
.pager .selected a {cursor: default; background-color: #027e04; color: #fff; text-decoration: none;}

/**/

.block-advanced {background-color: #61bd12; color: #fff; padding-bottom: 13px;}
.block-advanced dt {font-size: 24px; line-height: 26px; padding: 15px 21px 19px;}
.block-advanced dd {font-size: 16px; line-height: 1.2em; font-weight: bold;}
.block-advanced dd a {color: #fff; display: block; padding: 5px 21px 6px;}
.block-advanced dd.active a,
.block-advanced dd a:hover {text-decoration: none; background-color: #48920d;}

.block-ask {padding: 22px 17px 22px 22px;}
.block-ask a {display: block; background-color: #61bd12; height: 50px; text-align: center; font-weight: bold; font-size: 16px; line-height: 46px; color: #fff;}
.block-ask a:hover {background-color: #48920d;}

.block-news {padding: 15px 22px 42px;}
.block-news-title {color: #479a1a; font-size: 24px; line-height: 30px; padding-bottom: 27px;}
.block-news ul {font-size: 14px; line-height: 1.2em;}
.block-news p {padding-top: 10px;}
.block-news li + li {padding-top: 37px;}

.block-banners {text-align: center; padding-left: 5px;}
.block-banners li {display: inline-block; *display: inline; *zoom: 1; vertical-align: top; text-align: left; margin-bottom: 30px;}
.block-banners img {display: block;}

/**/

.w-news {overflow: hidden; *zoom: 1; width: 720px; *padding-bottom: 30px;}
.w-news .item {float: left; width: 317px; height: 248px; border: 1px solid #6eab51; position: relative; margin: 0px 41px 30px 0px;}
.w-news .item u, .w-news .item s {display: block; position: absolute; width: 15px; height: 15px; margin: -1px; background: url(../images/sprite.png);}
.w-news .item u {top: 0; left: 0; background-position: -915px -198px;}
.w-news .item s {bottom: 0; right: 0; background-position: -930px -198px;}
.w-news .item .title {background-color: #2f7626; height: 37px; margin: -1px; font-size: 16px; line-height: 32px; color: #fff;}
.w-news .item .title b {white-space: nowrap; display: block; position: relative; overflow: hidden; *zoom: 1; -ms-text-overflow: ellipsis; text-overflow: ellipsis; margin: 0px 28px;}
.w-news .item .title a {color: #fff;}
.w-news .item .title a:hover {text-decoration: none;}
.w-news .item .text {font-size: 14px; line-height: 18px; padding: 14px 19px 0px; max-height: 162px; overflow: hidden; *zoom: 1; position: relative;}
.w-news .item .text img {margin-top: 5px;}
.w-news .item .more {text-align: right; font-size: 14px; line-height: 18px; margin-right: 20px;}

.w-text {overflow: hidden; *zoom: 1;}
.w-text :first-child, .w-text img:first-child + * {margin-top: 0;}
.w-text img {margin-top: 6px !important; margin-bottom: 10px;}
.w-text img.left {margin-right: 26px;}
.w-text img.right {margin-left: 26px;}
.w-text h1 {margin: 21px 0px;}
.w-text h2 {margin: 21px 0px; font-weight: bold; font-size: 18px; line-height: 24px; color: #479a1a;}
.w-text h3 {margin: 20px 0px; font-size: 14px; line-height: 24px;}
.w-text p {margin: 20px 0px;}
.w-text ul, .w-text ol {margin: 21px 0px;}
.w-text li + li {padding-top: 20px;}
.w-text li + li:before, .w-text li + li s.before {margin-top: 20px;}
.w-text ul li {position: relative; padding-left: 42px;}
.w-text ul li:before, .w-text ul li s.before {content: ''; display: block; width: 13px; height: 12px; background: url(../images/sprite.png) -934px -160px; position: absolute; top: 7px; left: 9px;}
.w-text ol {counter-reset: ol; *margin-left: 36px;}
.w-text ol li {counter-increment: ol; list-style: none; position: relative; padding-left: 42px; *list-style: decimal; *padding-left: 6px;}
.w-text ol li:before {content: counter(ol)'. '; display: block; position: absolute; color: #027e04; font-size: 16px; line-height: 24px; font-weight: bold; top: -2px; left: 10px;}
.w-text table {font-size: 14px; line-height: 1.2em; margin-top: 21px; margin-bottom: 21px;}
.w-text table.left, .w-text table.right {margin-top: 0;}
.w-text table thead {background-color: #c3ea8d;}
.w-text table th, .w-text table td {padding: 5px 12px 8px;}
.w-text table th {text-align: left; font-weight: bold; color: #000;}
.w-text table td {text-align: center;}
.w-text table tbody tr:nth-child(2n-1) > * {background-color: #e8fabd;}

.subnav {font-size: 18px; line-height: 1.2em; padding-bottom: 20px;}
.subnav li {padding-bottom: 12px;}
.subnav a {color: #027e04;}
.subnav a:hover {color: #67c50f;}

.w-feedback {padding: 34px 0px 30px 5px;}
.w-feedback .control-group {overflow: hidden; *zoom: 1; padding-bottom: 18px;}
.w-feedback .control-label {float: left; width: 235px; display: block; padding-top: 5px;}
.w-feedback .control-label .required {color: #518d00;}
.w-feedback .controls {margin-left: 239px;}
.w-feedback .controls input, .w-feedback .controls textarea {border: none; border-top: 4px solid #87d124; border-right: 4px solid #368638; background-color: #e3e3e3; margin: 0; padding: 5px 13px; color: #3a3a3a; font-size: 14px; width: 401px;}
.w-feedback .controls textarea {line-height: 18px; height: 112px;}
.w-feedback .controls input#captcha {width: 171px;}
.w-feedback .help-block {font-size: 12px;}
.w-feedback .control-group.error, .w-feedback .control-group.error .control-label, .w-feedback .control-group.error .control-label .required {color: #f50b00;}
.w-feedback .control-group.error input, .w-feedback .control-group.error textarea {border-top-color: #f50b00; border-right-color: #bc7800;}
.w-feedback .button {width: 201px; height: 38px; background: url(../images/sprite.png) -750px -224px; color: #fff; font-weight: bold; font-size: 14px; line-height: 32px; margin: 14px 0px 0px 240px;}
.w-feedback .button:hover {background-position: -750px -262px; line-height: 38px;}

/**/

.p-news .item {padding-bottom: 38px;}
.p-news .item .title {color: #000; font-size: 18px; line-height: 27px; padding-bottom: 7px;}
.p-news .item .title a {margin-left: 10px; color: #027e04;}
.p-news .item .title a:hover {color: #67c50f;}
.p-news .item p {font-size: 14px; line-height: 27px;}